/* You can add global styles to this file, and also import other style files */
.back{
    background-color: teal;
    font-family: 'Roboto', sans-serif;
    
}

.abo{
    background-color: teal;
}

a:link{
    color: white !important;
}
a:active{
    color: white;
}

a:hover{
color: teal;
}